[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=Gorp
GenericName=TerminalEmulator

Exec=gorp %U
StartupWMClass=dev.gorp.Gorp

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.gorp.Gorp

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for gorp:// URLs.
MimeType=x-scheme-handler/gorp;
